:root {
  --main-bg-color: #355070;
  --main-color: #fdfdff;
  --accent-color: #01baef;
  --orange-color: #faa816;
  --rose-color: #b56576;
}

* {
  font-family: "Krub", sans-serif;
  margin: 0;
  color: var(--main-color);
}

body {
  background: fixed;
  background-size: cover;
  background-image: url(./assets/max-bender-VmX3vmBecFE-unsplash.jpg);
  background-color: var(--main-bg-color);
}

nav {
  background-color: var(--main-bg-color);
  box-shadow: 0 0px 1200px 0px var(--accent-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  height: 4em;
  width: 100vw;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

nav h1 {
  margin: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: max-content;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px 10px 0 0;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
}

main {
  height: auto;
}
