.enter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rl {
  cursor: pointer;
  padding: 30px;
  width: fit-content;
  height: fit-content;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.44);
}

.rl:hover {
  box-shadow: 0 10px 100px rgba(255, 255, 255, 0.2);
}
.rl:active {
  transform: scale(1.1);
}

.footerwrap {
  background-color: var(--main-bg-color);
  border-top: 1px solid rgba(255, 255, 255, 0.212);
  padding: 20px;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.cardWrapper {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 300px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-height: 700px;
  width: 500px;
  margin: 10px;
  overflow: scroll;
  grid-column: 1/2;
}
ul {
  padding: 20px;
}
.eventCard {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}

.date {
  font-size: 12px;
  text-align: right;
}

.cardContent {
  margin-bottom: 10px;
  font-style: italic;
}

hr {
  margin: 10px;
  color: var(--orange-color);
  opacity: 30%;
}

.cardLink {
  font-weight: 700;
  font-size: 12px;
}

.title {
  margin-left: 20px;
}

.mapContainer {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 300px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 50%;
  height: 50%;
  margin: 10px;
}

.eventImage {
  border-radius: 30px;
}
